@font-face {
  font-family: "Jetbrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/JetbrainsMono/JetBrainsMono-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Jetbrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/JetbrainsMono/JetBrainsMono-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: local('Monda Regular'), local('Monda-Regular'),
       url('/fonts/webfonts/monda-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/webfonts/monda-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* monda-700 - latin */
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  src: local('Monda Bold'), local('Monda-Bold'),
       url('/fonts/webfonts/monda-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/webfonts/monda-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


//
//

@font-face {
    font-family: "ZedTextFtl";
    src: url(fonts/zed-fonts/ZedTextL-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ZedTextFtl";
    src: url(fonts/zed-fonts/ZedTextL-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ZedDisplayFtl";
    src: url(fonts/zed-fonts/ZedDisplayL-Heavy.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
