footer {
  line-height: 18px;
  font-size: 0.7rem;
  margin-top: auto;
  padding: 1rem 1.5rem 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 0.5em;
  color: var(--text-pale-color);
  font-family: "Monda", sans-serif;

  .left {
    margin: 15px 0;
    margin-right: auto;
    display: flex;
    align-items: center;
    span {
      padding: 0 0.5em;
    }
    a {
      color: var(--text-pale-color);
      text-decoration: none;
      text-underline-offset: 4px;
      &:hover {
        color: var(--text-pale-color);
        text-decoration: underline;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 11px 0;

    #rss-btn,
    #theme-toggle {
      -webkit-tap-highlight-color: transparent;
      border: none;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      color: var(--text-pale-color);
      &:hover {
        color: var(--primary-color);
      }
    }

    #rss-btn {
      padding: 4px 0;
      font-size: 0.85em;
      line-height: 18px;
    }
    #theme-toggle {
      padding: 4px;
      transform: translateX(6px);
      svg {
        scale: 0.7;
      }
      line-height: 0;
    }
  }
}